<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Meu primeiro aplicativo Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">

    <h1>@ = "V-on:", : = "v-bind: "</h1>
     {{ quepasso }}<br>
     <button @click="onbotao">BOTAO</button>
     <select  @change="onselect">
        <option value="abacate">AAAA</option>
        <option value="banana">BBB</option>
        <option value="caju">CCC</option>
    </select><br>
    <textarea  cols="30" :rows=" linhas "></textarea>
  </div>

  <script>
  
    var app = new Vue({
      el: '#app',
      data: {
          quepasso: "",
          linhas: 2,
      },
      methods :{
            onbotao: function(){
                this.quepasso = "clicou no botao",
                this.linhas++;
            },
            onselect: function(evt){
                this.quepasso = "mudou o select"
                console.log(evt.target.value)
            }
      }
    });
  </script>
</body>
</html>