<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            {{ message }}
        </div>
        <div id="app2">
            <span v-bind:title="message">
                Pare o mouse sobre mim e veja a dica interligada dinamicamente!
            </span>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>