<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Meu primeiro aplicativo Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<style type="text/css">
    .bordinha{
        border: solid;
    }
    .vermelho{
        color: red;
    }
    .icone{
        height: 30px;
        width: 30px;
    }
</style>
<body>
  <div id="app">
    <input type="checkbox" v-model="v1">V1<br>
    <input type="checkbox" v-model="v2">V2<br>
    <input type="checkbox" v-model="v3">V3<br>
    <input type="checkbox" v-model="v4">V4<br>
    <span v-if="v1" :class="{bordinha: v3, vermelho: v4}">V-If</span>
    <span v-show="v2">V-show</span>
    <img src="https://br.vuejs.org/images/logo.png" class="icone" :style="{transform: 'rotate('+angulo+'deg)'}">
    <button @click="roda()">RODA!</button>
</div>

  <script>
    
    var app = new Vue({
      el: '#app',
      data: {
          v1: false,
          v2: false,
          v3: false,
          v4: false,
          angulo: 40,
      },
      methods:{
          roda: function(){
              var self = this;
              setInterval(function(){
                self.angulo++;
              },10);
          }
      },
    });
  </script>
</body>
</html>